#define THS_CREATE_ENEMY SIDE TYPE X Y
[unit]
side={SIDE}
type={TYPE}
generate_name=yes
x={X}
y={Y}
ai_special=guardian
random_traits=yes
[/unit]
#enddef

#define THS_CREATE_SEA_ENEMY SIDE TYPE X Y
[unit]
side={SIDE}
type={TYPE}
generate_name=yes
x={X}
y={Y}
random_traits=yes
ai_special=guardian
[modifications]
[object]
	silent=yes
	duration=forever
	[effect]
	apply_to=new_ability
	    [abilities]
        {ABILITY_SUBMERGE}
		[/abilities]
	[/effect]
	[/object]
	[/modifications]
[/unit]
#enddef

#define THS_PLACE_RAID_ATTACKER SIDE TYPE X Y
[unit]
side={SIDE}
type={TYPE}
generate_name=yes
ai_special=guardian
x={X}
y={Y}
random_traits=no
[modifications]
{TRAIT_HEALTHY}
[/modifications]
[/unit]
#enddef

#define THS_PLACE_RAID_DEFENDER SIDE TYPE X Y
[unit]
side={SIDE}
type={TYPE}
generate_name=yes
ai_special=guardian
x={X}
y={Y}
random_traits=no
[modifications]
{TRAIT_HEALTHY}
[object]
	silent=yes
	duration=forever
	[effect]
		apply_to=movement_costs
		replace=true
	[movement_costs]
            deep_water=99
            shallow_water=99
            swamp_water=99
            flat=99
            sand=99
            forest=99
            hills=99
            mountains=99
            village=99
            castle=1
            cave=99
            frozen=99
            unwalkable=99
            impassable=99
            fungus=99
		[/movement_costs]
	[/effect]
[/object]
[/modifications]
[/unit]
#enddef

#define THS_PLACE_PRISONER SIDE TYPE X Y NAME
[unit]
side={SIDE}
type={TYPE}
id={NAME}
name={NAME}
overlays=items/cage.png
role=prisoner
x={X}
y={Y}
random_traits=no
[/unit]
#enddef

#define THS_RESCUE_PRISONER
[event]
name=moveto
first_time_only=no
[filter]
	side=1,2,3,4,5,6
	canrecruit=yes
	[filter_adjacent]
		role=prisoner
	[/filter_adjacent]
[/filter]

[store_unit]
	[filter]
		role=prisoner
		[filter_adjacent]
			side=$side_number
			canrecruit=yes
		[/filter_adjacent]
	[/filter]
	variable=units
[/store_unit]

	{FOREACH units i}
		
		{VARIABLE units[$i].overlays "none"}
		{VARIABLE units[$i].role freed}
		{VARIABLE units[$i].side $side_number}
		
		[message]
			speaker=narrator
			captain=Jailbreak!
			image=items/cage.png
			message= _ "$units[$i].name has been freed by $player[$side_number].name|."
		[/message]
	
		[unstore_unit]
			variable=units[$i]
		[/unstore_unit]
			
	{NEXT i}
	
{CLEAR_VARIABLE units}

[/event]
#enddef

#define THS_PIRATE_BOARDER SIDE X Y
[event]
name=attacker_hits
first_time_only=no
[filter]
	type="Pirate Galleon"
	[filter_attack]
		weapon="boarding party"
	[/filter_attack]
[/filter]
[filter_second]
	id="Flag Ship {SIDE}"
[/filter_second]
[unit]
	side=$side_number
	type=Fencer
	id=Pirate
	name=Pirate
	x={X}
	y={Y}
	random_traits=no
	moves=0
[/unit]
{THS_SCROLL_TO {X} {Y}}
[/event]
#enddef

#define THS_FLYING_BOARDER SIDE X Y
[event]
name=attack
first_time_only=no
[filter]
	type=Ghost,Wraith,Spectre,Shadow,Nightgaunt,Drake Fighter,Drake Warrior,Drake Blademaster,Drake Glider,Gryphon Rider,Gryphon,Vampire Bat,Blood Bat,Dread Bat
[/filter]
[filter_second]
	id="Flag Ship {SIDE}"
[/filter_second]
{THS_TELEPORT x=$x1 y=$y1 {X} {Y}}
{THS_SCROLL_TO {X} {Y}}
[/event]
#enddef

#define THS_ENEMY_MANOFWAR_REINFORCEMENTS SIDE X1 Y1 X2 Y2
[if]
	[not]
		[have_unit]
			side={SIDE}
			type="Man Of War"
		[/have_unit]
	[/not]
	[then]
		{THS_PLACE_MAN_OF_WAR {SIDE} {X1} {Y1} "Man Of War"}
		{THS_PLACE_MAN_OF_WAR {SIDE} {X2} {Y2} "Man Of War"}
	[/then]
[/if]
#enddef

#define THS_ENEMY_PIRATE_REINFORCEMENTS SIDE X1 Y1 X2 Y2
[if]
	[not]
		[have_unit]
			side={SIDE}
			type="Pirate Galleon"
		[/have_unit]
	[/not]
	[then]
		{THS_PLACE_PIRATE_GALLEON {SIDE} {X1} {Y1} "The Avenger"}
		{THS_PLACE_PIRATE_GALLEON {SIDE} {X2} {Y2} "Firebeard"}
	[/then]
[/if]
#enddef


